repos:
  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
     - id: black
       args:
         - --safe
         - --target-version=py38
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.1
    hooks:
     - id: flake8
       additional_dependencies: [flake8-docstrings]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.740
    hooks:
     - id: mypy
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.18
    hooks:
     - id: isort
       additional_dependencies: [toml]
       verbose: true
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: ^notebooks/
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace